// COLORS
$primary-color: #240485;
$secondary-color: #2ad4d0;
$middle-color : #2596be;

//Option 1: Dark blue with light blue
//$primary-color: #240485;
//$secondary-color: #2ad4d0;
//$middle-color : #2596be;

//Option 2: Gray with light blue
//$primary-color: #BBD2C5;
//$secondary-color: #292E49;
//$middle-color : #536976;

//Originals:
//$primary-color: #FA3F04;
//$secondary-color: #FFC512;
//$middle-color: #FA3F04;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
